.headingcss1 {
  padding: 100px  114px;
  background-color: yellow;
  border: 1px solid red;
  border-radius: 48px;
box-shadow: 0 20px 6px rgba(255, 0, 0, 0.3); /* red with 30% opacity */
  margin :20px;
}


.kpt {
  padding: 100px  114px;
  background-color: yellow;
  border: 1px solid red;
  border-radius: 48px;
box-shadow: 0 20px 6px rgba(255, 0, 0, 0.3); /* red with 30% opacity */
  margin :20px;
}